body{
    background-color: black;
}
.navbar-body {
    text-align:center;
    text-decoration: none;
    background-color: rgb(186, 232, 232);
    box-shadow: 3px;
    padding-bottom: 10px;
    height: 80px;
  }
  .navbar-heading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    margin-right: 25px;
    box-shadow: 2px 2px 2px 2px;

  }
  .navbar-heading:hover {
    text-decoration-line: underline;
    text-decoration-color:grey;
    background-color: transparent;
  }
  h1{
    float:right;
    padding: 10px;
    padding-right: 40px;
    color: azure;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }